<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <h1>Add a new Users</h1>

    <form method="post">
        <fieldset class="form-group">
            <label for="username" class="col-sm-2">Username: *</label>
            <input name="username" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="password" class="col-sm-2">Password: *</label>
            <input name="password" type="password" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="repassword" class="col-sm-2">Re-Password: *</label>
            <input name="repassword" type="password" required />
        </fieldset>
        
        <button type="submit" class="col-sm-offset-2 btn btn-success">Submit</button>

    </form>

</main>
<% include ../partials/footer.ejs %>